.settings-page {
  color: #000;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-right: 25px;
  font-family: Open Sans, Arial;
  font-size: .75rem;
  font-weight: 400;
  line-height: 15px;
  display: flex;
}

.cat-absolute-container {
  z-index: 1;
  width: 95%;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-around;
  align-self: flex-start;
  align-items: stretch;
  margin-bottom: -471px;
  padding-top: 28px;
  padding-bottom: 23px;
  padding-left: 8px;
  display: flex;
}

.rectangle {
  height: 60%;
  background-color: #fff;
  border-radius: 10px;
  flex-direction: column;
  flex-basis: 21%;
  justify-content: space-evenly;
  align-self: flex-start;
  align-items: stretch;
  padding-bottom: 21px;
  padding-left: 6px;
  font-family: Inter, Arial;
  display: flex;
}

.logo-eepseo {
  width: 139px;
  height: 45px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  align-self: center;
  margin-bottom: 12px;
}

.flex-container {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: flex-end;
  margin-top: 3px;
  padding-right: 20px;
  display: flex;
}

.house-icon {
  width: 38px;
  height: 32px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  align-self: flex-start;
  margin-right: 8px;
}

.dashboard {
  color: #000;
  height: 95%;
  background-color: #f4f5f0;
  border: none;
  border-radius: 10px;
  flex-direction: row;
  flex-basis: 64%;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  margin-top: 1px;
  padding-bottom: 1px;
  padding-right: 1px;
  font-family: Inter, Arial;
  font-size: .75rem;
  font-weight: 400;
  line-height: 15px;
  display: flex;
}

.dashboard-1 {
  align-self: center;
}

.flex-container-1 {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  margin-left: 2px;
  padding-right: 20px;
  display: flex;
}

.rocket-icon {
  width: 34px;
  height: 35px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  align-self: flex-start;
  margin-right: 10px;
}

.analytics {
  height: 85%;
  background-color: #f4f5f0;
  border-radius: 10px;
  flex-direction: row;
  flex-basis: 64%;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding-top: 1px;
  padding-right: 4px;
  display: flex;
}

.analytics-1 {
  align-self: center;
  margin-top: 1px;
}

.flex-container-2 {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: flex-end;
  margin-bottom: 7px;
  padding-right: 20px;
  display: flex;
}

.settings-icon {
  width: 38px;
  height: 32px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  align-self: flex-start;
  margin-right: 8px;
}

.dashboard-1 {
  color: #000;
  height: 95%;
  background-color: #f4f5f0;
  border: none;
  border-radius: 10px;
  flex-direction: row;
  flex-basis: 64%;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  margin-top: 1px;
  padding-right: 7px;
  font-family: Inter, Arial;
  font-size: .75rem;
  font-weight: 400;
  line-height: 15px;
  display: flex;
}

.settings {
  align-self: center;
}

.flex-container-3 {
  height: 85%;
  flex-direction: column;
  flex-basis: 68%;
  justify-content: space-around;
  align-self: center;
  align-items: stretch;
  margin-bottom: 4px;
  margin-left: 16px;
  font-size: 1rem;
  line-height: 22px;
  display: flex;
}

.rectangle-4 {
  color: #fff;
  width: 95%;
  background-color: #fcfcfc;
  border-radius: 9px;
  flex-direction: row;
  flex-basis: 6%;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  margin-bottom: 4px;
  padding-right: 35px;
  font-weight: 700;
  display: flex;
}

.rectangle-5 {
  height: 100%;
  background-color: #008ff8;
  border-radius: 9px;
  flex-direction: row;
  flex-basis: 38%;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-right: 4px;
  display: flex;
}

.project {
  align-self: center;
  margin-top: 1px;
}

.account {
  color: #000;
  align-self: center;
  margin-left: 44px;
}

.rectangle-1 {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-around;
  align-self: flex-start;
  align-items: center;
  margin-top: 1px;
  margin-bottom: 20px;
  padding-right: 12px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 27px;
  display: flex;
}

.rectangle-2 {
  height: 100%;
  background-color: #f4f5f0;
  border-radius: 10px;
  flex-direction: row;
  flex-basis: 35%;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  display: flex;
}

.rectangle-3 {
  width: 38px;
  height: 47px;
  object-fit: cover;
  border-radius: 10px;
  align-self: flex-start;
  margin-right: 36px;
}

.project-1 {
  align-self: center;
  margin-top: 2px;
}

.settings-1 {
  align-self: center;
  margin-top: 2px;
  margin-left: 68px;
}

.flex-container-4 {
  width: 100%;
  flex-direction: row;
  flex-basis: 6%;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: stretch;
  margin-top: 2px;
  margin-left: 7px;
  padding-right: 80px;
  display: flex;
}

.project-name {
  align-self: flex-start;
  margin-right: 196px;
}

.geographic-area {
  align-self: flex-end;
}

.flex-container-5 {
  width: 100%;
  flex-direction: row;
  flex-basis: 15%;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  margin-left: 4px;
  padding-right: 63px;
  display: flex;
}

.flex-container-6 {
  height: 100%;
  flex-direction: column;
  flex-basis: 40%;
  justify-content: space-between;
  align-self: flex-start;
  align-items: stretch;
  margin-right: 59px;
  display: flex;
}

.project-name-field {
  width: 100%;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  flex-direction: row;
  flex-basis: 64%;
  align-self: flex-end;
  margin-left: 3px;
  display: flex;
}

.subject-website {
  align-self: flex-start;
}

.geographic-area-field-1 {
  height: 65%;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 9px;
  flex-direction: row;
  flex-basis: 40%;
  justify-content: flex-start;
  align-self: center;
  align-items: center;
  margin-bottom: 4px;
  padding-top: 1px;
  padding-left: 12px;
  display: flex;
}

.vector-10 {
  width: 10px;
  height: 8px;
  object-fit: cover;
  border: 1px solid #000;
  align-self: center;
}

.flex-container-7 {
  width: 100%;
  flex-direction: row;
  flex-basis: 16%;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  margin-left: 3px;
  padding-right: 60px;
  line-height: 23px;
  display: flex;
}

.flex-container-8 {
  height: 100%;
  flex-direction: column;
  flex-basis: 40%;
  justify-content: space-between;
  align-self: flex-end;
  align-items: stretch;
  margin-top: 1px;
  margin-right: 38px;
  line-height: 22px;
  display: flex;
}

.subject-website-field {
  width: 100%;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  flex-direction: row;
  flex-basis: 64%;
  align-self: flex-end;
  margin-left: 2px;
  display: flex;
}

.target-audience {
  align-self: flex-start;
}

.flex-container-9 {
  height: 100%;
  flex-direction: column;
  flex-basis: 44%;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 1px;
  font-size: 1.063rem;
  display: flex;
}

.seed-keywords {
  align-self: center;
  margin-left: 15px;
  font-size: 1rem;
  line-height: 22px;
}

.flex-container-10 {
  width: 100%;
  flex-direction: row;
  flex-basis: 54%;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: stretch;
  display: flex;
}

.keyword-a-7 {
  height: 100%;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 27px;
  flex-direction: row;
  flex-basis: 51%;
  justify-content: space-around;
  align-self: flex-start;
  align-items: center;
  margin-right: 6px;
  padding-bottom: 2px;
  padding-left: 8px;
  display: flex;
}

.test-drive {
  align-self: center;
  margin-bottom: 1px;
  margin-left: 2px;
}

.vector-9 {
  width: 11px;
  height: 10px;
  object-fit: cover;
  border: 3px solid #353535;
  align-self: center;
  margin-top: 1px;
}

.keyword-a-6 {
  height: 100%;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 27px;
  flex-direction: row;
  flex-basis: 47%;
  justify-content: space-evenly;
  align-self: flex-start;
  align-items: center;
  padding-bottom: 2px;
  padding-left: 5px;
  display: flex;
}

.used-cars {
  align-self: center;
  margin-bottom: 1px;
  margin-left: 1px;
}

.vector-8 {
  width: 12px;
  height: 10px;
  object-fit: cover;
  border: 3px solid #353535;
  align-self: center;
  margin-top: 1px;
}

.flex-container-11 {
  width: 100%;
  flex-direction: row;
  flex-basis: 10%;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-right: 38px;
  font-size: 1.063rem;
  line-height: 23px;
  display: flex;
}

.target-audience-field {
  height: 100%;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  flex-direction: row;
  flex-basis: 39%;
  align-self: flex-start;
  margin-right: 12px;
  display: flex;
}

.keyword-a-5 {
  height: 85%;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 27px;
  flex-direction: row;
  flex-basis: 22%;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  margin-top: 1px;
  margin-right: 8px;
  padding-bottom: 1px;
  padding-left: 7px;
  display: flex;
}

.auto-loans {
  align-self: center;
  margin-left: 2px;
}

.vector-7 {
  width: 9px;
  height: 10px;
  object-fit: cover;
  border: 3px solid #353535;
  align-self: center;
}

.keyword-a-4 {
  height: 85%;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 27px;
  flex-direction: row;
  flex-basis: 27%;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  margin-top: 1px;
  margin-left: 12px;
  padding-top: 1px;
  padding-left: 4px;
  display: flex;
}

.car-dealership {
  align-self: center;
  margin-top: 1px;
  margin-left: 1px;
}

.vector-6 {
  width: 9px;
  height: 10px;
  object-fit: cover;
  border: 3px solid #353535;
  align-self: center;
  margin-bottom: 1px;
}

.flex-container-12 {
  width: 100%;
  flex-direction: row;
  flex-basis: 20%;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  margin-top: 1px;
  margin-left: 5px;
  font-size: 1.063rem;
  display: flex;
}

.flex-container-13 {
  height: 80%;
  flex-direction: column;
  flex-basis: 40%;
  justify-content: space-between;
  align-self: center;
  align-items: stretch;
  margin-bottom: 3px;
  margin-right: 19px;
  font-size: 1rem;
  display: flex;
}

.geographic-area-1 {
  align-self: flex-start;
}

.geographic-area-field {
  color: #000;
  width: 100%;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 9px;
  flex-direction: row;
  flex-basis: 62%;
  justify-content: space-evenly;
  align-self: flex-end;
  align-items: center;
  margin-left: 1px;
  padding-right: 31px;
  font-family: Open Sans, Arial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  display: flex;
}

.vector-1 {
  width: 10px;
  height: 8px;
  object-fit: cover;
  border: 1px solid #000;
  align-self: center;
  margin-top: 1px;
}

.us-midwest {
  align-self: center;
  margin-left: 15px;
}

.flex-container-14 {
  height: 100%;
  flex-direction: column;
  flex-basis: 57%;
  justify-content: space-between;
  align-self: flex-start;
  align-items: stretch;
  line-height: 23px;
  display: flex;
}

.flex-container-15 {
  width: 100%;
  flex-direction: row;
  flex-basis: 44%;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: stretch;
  padding-right: 2px;
  display: flex;
}

.keyword-e {
  color: #000;
  height: 100%;
  background-color: #0000;
  border: none;
  flex-direction: row;
  flex-basis: 41%;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: stretch;
  margin-bottom: 1px;
  padding-bottom: 1px;
  font-family: Open Sans, Arial;
  font-size: 1.063rem;
  font-weight: 400;
  line-height: 23px;
  display: flex;
}

.keyword-a-3 {
  height: 100%;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 27px;
  flex-direction: row;
  flex-basis: 95%;
  justify-content: space-evenly;
  align-self: flex-start;
  align-items: center;
  padding-bottom: 1px;
  display: flex;
}

.car-reviews {
  align-self: center;
  margin-bottom: 1px;
}

.vector-5 {
  width: 11px;
  height: 10px;
  object-fit: cover;
  border: 3px solid #353535;
  align-self: center;
}

.keyword-f {
  color: #000;
  height: 100%;
  background-color: #0000;
  border: none;
  flex-direction: row;
  flex-basis: 59%;
  justify-content: flex-start;
  align-self: flex-end;
  align-items: stretch;
  margin-top: 1px;
  padding-bottom: 1px;
  font-family: Open Sans, Arial;
  font-size: 1.063rem;
  font-weight: 400;
  line-height: 23px;
  display: flex;
}

.keyword-a-2 {
  height: 100%;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 27px;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-evenly;
  align-self: flex-start;
  align-items: center;
  padding-right: 3px;
  display: flex;
}

.online-car-shopping {
  align-self: center;
  margin-left: 1px;
}

.vector-4 {
  width: 12px;
  height: 10px;
  object-fit: cover;
  border: 3px solid #353535;
  align-self: center;
  margin-top: 2px;
}

.flex-container-16 {
  width: 100%;
  flex-direction: row;
  flex-basis: 44%;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: flex-end;
  margin-left: 9px;
  display: flex;
}

.keyword-a-1 {
  height: 95%;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 27px;
  flex-direction: row;
  flex-basis: 56%;
  justify-content: space-around;
  align-self: flex-end;
  align-items: center;
  margin-right: 9px;
  padding-top: 1px;
  display: flex;
}

.car-promotions {
  align-self: center;
  margin-top: 1px;
}

.vector-3 {
  width: 9px;
  height: 10px;
  object-fit: cover;
  border: 3px solid #353535;
  align-self: center;
  margin-bottom: 1px;
  margin-left: 10px;
}

.keyword-h {
  color: #000;
  height: 100%;
  background-color: #0000;
  border: none;
  flex-direction: row;
  flex-basis: 41%;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: stretch;
  font-family: Open Sans, Arial;
  font-size: 1.063rem;
  font-weight: 400;
  line-height: 23px;
  display: flex;
}

.keyword-a {
  height: 95%;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 27px;
  flex-direction: row;
  flex-basis: 86%;
  justify-content: space-evenly;
  align-self: flex-start;
  align-items: center;
  padding-bottom: 1px;
  display: flex;
}

.auto-sales {
  align-self: center;
}

.vector-2 {
  width: 9px;
  height: 10px;
  object-fit: cover;
  border: 3px solid #353535;
  align-self: center;
  margin-left: 2px;
}

.base-page {
  width: 880px;
  height: 471px;
  object-fit: cover;
  border: 1px solid #000;
  align-self: flex-start;
}
