body {
  margin: 0;
  padding: 0;
  /* background-color: #b70000; */
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70px;
  background-color: #333;
  padding: 16px 8px;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 20px 0 0 20px;
  padding: 20px;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  width: 500px;
  margin-right: 10px;
}

.nav-buttons button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
}

.nav-buttons button:hover {
  background-color: #333;
  color: #fff;
}

nav img {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

nav button {
  background-color: #333;
  border: none;
  color: white;
  padding: 8px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  transition: background-color 0.3s ease;
}

nav button:hover {
  background-color: #555;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  background-color: #F0F1F5;
}

.dashboard-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 16px;
  background-color: #F0F1F5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding-left: 15px;
  margin-left: 15%;
  background-color: #fcfcfc;
  border-radius: 10px;
}

.project-selector {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.project-selector select {
  appearance: none;
  border: none;
  background-color: transparent;
  font-size: 24px;
  font-weight: bold;
  margin-right: 8px;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 8px; 
}
.page-title-box {
  display: flex;
  align-items: center;
  justify-content: flex;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  /* padding-right: 20px;
  margin-bottom: 20px; */
  margin-left:40em
}

.graph {
  width: 30%;
  max-width: 800px;
  margin-right: 16px;
  margin-left: 15%;
}

.category-selector {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  width: 200px;
  margin-left: 5%;
}

.selector-title {
  background-color: #F0F1F5;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  border-radius: 8px;
  padding: 4px;
}

.category-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.category-list li {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: #F0F1F5;
  margin-bottom: 8px;
}

.category-list input[type='checkbox'] {
  margin-right: 8px;
}

/* -------------- */

.settings-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 16px;
  background-color: #F0F1F5;
  margin-left:15%;
}

.settings-selector {
  width:80%;
  background-color: white;
  border-radius:9px;
  display:flex;
}

.settings-selector .selector-btn {
  background: white;
  border: none;
  border-radius: 9px;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  width:50%;
}

.selector-btn.active {
  color:white;
  background-color: #008FF8;
}

.settings-section {
  display: flex;
  align-content: stretch;
  width: 100%;
  justify-content: space-around;
}

.settings-column {
  min-width: 30%;
}

.settings-field {
  display:flex;
  flex-direction: column;
}

.settings-field input {
  border-radius: 9px;
  border: 2px solid #AAA;
  min-height:30px;
  font-size: 1em;
  padding: 5px 10px;
}

.seeds-module-body {
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  max-width: 400px;
  flex-wrap: wrap;
}

.seed-name {
  margin-right:5px;
}

.add-seed input {
  margin-left:10px;
  min-height: auto;
}

.seeds-module-body li {
  border: 2px solid #AAA;
  background-color: white;
  padding: 8px 12px;
  border-radius: 20px;
  font-weight: bold;
  margin:5px;
}

.seeds-module-body button {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 1em;
}


.field-label {
  margin: 20px auto 7px 0;
  font-weight: bold;
}

.settings-save-btn {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
}

.settings-save-btn button {
  margin-top: 30px;
  background: #006CCA;
  color: white;
  border: none;
  border-radius: 9px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 30px;
}

.settings-save-btn button:hover {
  background: #008FF8;
}
